/* styles/books-page.module.scss */

.books-page-container {
  padding: 3em 2em;
  background-color: var(--color-background);
  color: var(--color-text);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;

  @media (max-width: 1024px) and (min-width: 481px) {
    padding: 2em 1em;
  }
  @media (max-width: 480px) {
    padding: 1em 0.5em;
  }
}

.page-header {
  font-size: 2.5em;
  color: var(--color-primary-dark);
  margin-bottom: 1em;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 2em;
  }
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* Responsive grid */
  gap: 2em; /* Gap between cards */
  justify-items: center; /* Center cards in their grid cells */

  @media (max-width: 1024px) and (min-width: 481px) {
    gap: 1.2em;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
  @media (max-width: 480px) {
    gap: 0.7em;
    grid-template-columns: 1fr; /* Stack cards on very small screens */
  }
}
